project:
  type: book
  output-dir: docs

book:
  title: "Daily Stoic"
  author: "라이언 홀리데이, 스티븐 핸슬먼"
  number-sections: false
  date: "2026-01-31"
  chapters:
    - index.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

execute:
  freeze: auto

