project:
  type: book
  output-dir: docs

book:
  title: "Daily Stoic"
  author: "Norah Jones"
  date: "2026-01-31"
  chapters:
    - index.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

execute:
  freeze: auto

